<?php
    $query = $db->query("SELECT * FROM ".TABLE_PREFIX."config WHERE id=1 LIMIT 1");
	$CONF = $db->fetch_array($query);	
    $ADbody = '<div class="container-form">'
              .'<form method="POST" id="form-sabe-cog">'
              .'<div class="container-input">'                       
	          .'<div class="icon"><i class="fa fa-home"></i> Name of the site</div>'
	          .'<input type="text" placeholder="Name of the Site..." name="siteName" id="siteName" value="'.$CONF['siteName'].'">' 
              .'</div>'
	          .'<div class="container-input">'                      
              .'<div class="icon"><i class="fa fa-home"></i> description</div>'
	          .'<input type="text" placeholder="Description..." name="siteDescription" id="siteDescription" value="'.$CONF['siteDescription'].'">' 
	          .'</div>'
	          .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-link"></i> Url of the site</div>'
	          .'<input type="text" placeholder="Url of the site..." name="siteUri" id="siteUri" value="'.$CONF['siteUri'].'">' 
	          .'</div>'
	          .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-facebook"></i> URL of Facebook Page</div>'
	          .'<input type="text" placeholder="Link of Facebook Page..." name="FB_page" id="FB_page" value="'.$CONF['FanPage'].'">' 
	          .'</div>'		
	          .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-facebook"></i> Facebook app ID</div>'
	          .'<input type="text" placeholder="Enter Facebook app id..." name="FB_ID" id="FB_ID" value="'.$CONF['FB_ID'].'">' 
	          .'</div>'		
	          .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-google"></i> Code analytics</div>'
	          .'<input type="text" placeholder="Code analytics..." name="analytics_ID" id="analytics_ID" value="'.$CONF['analytics_ID'].'">' 
	          .'</div>'				
	          .'<div class="container-input">'     
              .'<div class="header-cont-textarea">'
	          .'<div class="icon"><i class="fa fa-google"></i> Ads Of Adsense</div>'
		      .'<div class="title-ads">code ads of 300x600</div>'
		      .'</div>'					
		      .'<textarea placeholder="Your code ads of 300x600 here" name="ads_300" id="ads_300">'.addslashes($CONF['ads_300']).'</textarea>' 
	          .'</div>'			
	          .'<div class="container-input">'     
              .'<div class="header-cont-textarea">'
		      .'<div class="icon"><i class="fa fa-google"></i> Ads Of Adsense</div>'
		      .'<div class="title-ads">code ads of 728x90</div>'
		      .'</div>'					
	          .'<textarea placeholder="Your code ads of 728x90 here" name="ads_720" id="ads_720">'.addslashes($CONF['ads_720']).'</textarea>'
              .'</div>'
              .'</form>' 
			  .'<button type="submit" onclick="save_config_site();">'
			  .'<i class="fa fa-save"></i> Save Changes'
			  .'</button>' 
              .'</div>';
?>