<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="./inc/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="gray-bg" style="background-color: #f3f3f4;height: 100%;">
    <div class="middle-box text-center loginscreen animated fadeInDown" style="max-width: 400px;z-index: 100;margin: 0 auto;padding-top: 40px;width: 300px;">
        <div>
            <div>
               
            </div>
            <h3 style="margin-top: 5px;font-weight: 600;font-size: 16px;">Welcome</h3>
            
            <p style="margin: 0 0 10px;">Login into Admin Panel</p>
            <form class="m-t" method="POST" action="?Act=login" style="margin-top: 15px;">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" required="" style="background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 1px;color: inherit;display: block;padding: 6px 12px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;box-shadow: none;font-size: 14px;">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="" style="background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 1px;color: inherit;display: block;padding: 6px 12px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;box-shadow: none;font-size: 14px;">
                </div>
                <button type="submit" name="btn-inc-sse-login" style="background: #00B8FF url(http://localhost/testing/CPadmin/inc/sq.png);border: 1px solid #00B8FF;display: block !important;width: 100% !important;color: #FFFFFF;border-radius: 3px;">
				    Login
				</button>   
            </form>
        </div>
    </div>
</body>
</html>