<?php	
    $ADbody = '<div class="container-form">'
              .'<form enctype="multipart/form-data" id="formaddtest" method="post">'
              .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-home"></i> Title of the test</div>'
	          .'<input type="text" placeholder="Title of the test..." name="test-name" id="test-name">' 
              .'</div>'
	          .'<div class="container-input">'                      
              .'<div class="icon"><i class="fa fa-home"></i> Seo Link</div>'
	          .'<input type="text" placeholder="Seo Link" name="seo-name" id="seo-name">' 
	          .'</div>'
	          .'<div class="container-input">'                      
              .'<div class="icon"><i class="fa fa-home"></i> Type of the Result</div>'
	          .'  <select style="margin: 8px;float: right;" name="mode_life_result" id="mode_life_result">'
              .'     <option value="FALSE-RES">Different results</option>'
              .'     <option value="TRUE-RES">Unique Results</option>'
              .'  </select>'
	          .'</div>'
	          .'<div class="container-input">'                      
              .'<div class="icon"><i class="fa fa-user"></i> Number of visitors</div>'
	          .'<input type="text" placeholder="Number of Visitors..." name="rcount-test" id="rcount-test">' 
	          .'</div>'
	          .'<div class="container-input">'                      
	          .'<div class="icon"><i class="fa fa-photo"></i> Select Image</div>'
	          .'<input type="file" name="imagenTest" id="imagenTest" class="img_select_hidden" onchange="validate_fileimg(this);" style="margin: 8px;">' 
	          .'</div>'				
	          .'<div class="container-input">'     
              .'<div class="header-cont-textarea">'
	          .'<div class="icon"><i class="fa fa-pencil"></i> Description </div>'
		      .'<div class="title-ads">Description of the Test</div>'
		      .'</div>'					
		      .'<textarea placeholder="Description of the Test..." name="des-test" id="des-test"></textarea>'
	          .'</div>'		
              .'</form>'
			  .'<button name="btn-inc-new-test" onclick="add_test();"><i class="fa fa-save"></i> Add Test</button>'				  	  
	          .'</div>';	
?>