

<?php
@$rtn .= '<div class="col-xs-12 col-sm-4 col-md-4 next-quiz-container"><div class="activity-wrapper sidebar-activity-wrapper">
<a href="./test.php?test='.$Test['nombreseo'].'" class="activity-link sidebar-activity-link">
<div>
<img class="activity-picture showcases-activity-picture" src="'.$Test['imagen'].'" alt="'.$Test['titulo'].'"/>
</div>
<div class="activity-question activity-question-home">
<table>
<tr>

<td class="activity-question-td">

</td>
</tr>
</table>
</div>

</a>
</div>
</div>';