<?php
@$test = '<div class="col-xs-12 col-sm-4 col-md-4 home-activity-container"><div class="activity-wrapper">
<a href="./test.php?test='.$Test['nombreseo'].'" class="activity-link">
<div>
<img class="activity-picture" src="'.$Test['imagen'].'" alt="'.$Test['titulo'].'"/>
</div>

<table>
<tr>
<td class="activity-question-td">
<span class="activity-question-text">
'.$Test['titulo'].'
</span>
</td>
<td class="activity-question-td">
<span class="glyphicon glyphicon-arrow-right activity-question-right-arrow"></span>
</td>
</tr>
</table>

</a>
</div>
</div>';
						
						
				